.LoginContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid gray;
    border-radius: 22px;
    height: 35vh;
    width: 40vh;
    background-color: ghostwhite;
}

.Credentials{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.form-actions{
    display: flex;
    flex-direction: column;
}


.cache{
    margin: 10px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

button{
    border: 2px solid darkgray;
}

.Redirect{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type='string'],
input[type='password'] {
    font-size: 18px;
    background-color: whitesmoke;
    border-radius: 3px;
    color: black;
}

.error span {
    color:#c00000;
}